@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

button:hover{
    background-color: hsl(172, 67%, 45%);
}

.grid-discount{
    display: grid;
    text-align: center;
    gap: 1rem;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 1fr);
}


.price--one{
    grid-area: price1;
}

.price--two{
    grid-area: price2;
}

.price--three{
    grid-area: price3;

}

.price--four{
    grid-area: price4;

}

.price--five{
    grid-area: price5;
}

.custom{
    grid-area: custom;
}